
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Manage board games","Index","BoardGames")
@Html.ActionLink("Manage products", "Index", "Products")
@Html.ActionLink("Manage card types", "Index", "Cardtypes")
@Html.ActionLink("Manage relations between boardgames and products", "Index", "ProductMatchingBoardgames")
