
@{
    ViewBag.Title = "index";
}

<div id="mid-left"><img src="~/Content/layout-images/pngs/flat-tvaer-03.png" /></div>
<div id="bot-left"><img src="~/Content/layout-images/pngs/flat-tvaer-04.png" /></div>
<div id="top-left"><img src="~/Content/layout-images/pngs/flat-tvaer-05.png" /></div>

<div id="mid-right"><img src="~/Content/layout-images/pngs/flat-tvaer-07.png" /></div>
<div id="bot-right"><img src="~/Content/layout-images/pngs/flat-tvaer-08.png" /></div>
<div id="top-right"><img src="~/Content/layout-images/pngs/flat-tvaer-06.png" /></div>

<div class="row">
    <div class="rectangle-white">
        <h4 class="front-page-top-text">Let us help you pick the right size sleeves for your cards</h4>


        <div class="rectangle-yellow">
            <a href="~/boardgamesleeves/sleevefitter"><h4 class="rectangle-yellow-h2">Yes, please</h4></a>
        </div>

        <div class="rectangle-white-text-bottom">
            <h4>Or browse<br /><span class="all-sleeves-link">@Html.ActionLink("all the sleeves", "Index", "Products")</span></h4>
        </div>
    </div>
</div>

